.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card-content {
    flex-grow: 1; 
}
@media (min-width: 1024px) {

    .card {
        width: 25%; /* حالت دسکتاپ */
    }
}
@media (max-width: 1024px) {

    .card-add {
        flex-wrap: wrap;
    }
}